awscli
boto3
botocore
docker
Flask
flask-cors
imbalanced-learn
joblib
lightgbm
mlflow
mlflow-skinny
numpy
pandas
PyYAML
requests
scikit-learn
scipy
seaborn
setuptools
statsmodels
streamlit
xgboost
python-dotenv