awscli
boto3
botocore
docker
Flask
flask-cors
imbalanced-learn
ipykernel
ipython
ipython_pygments_lexers
joblib
lightgbm
matplotlib
matplotlib-inline
mlflow
mlflow-skinny
numpy
pandas
PyYAML
requests
scikit-learn
scipy
seaborn
setuptools
sklearn-compat
statsmodels
streamlit
tornado
xgboost
python-dotenv